.card{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.icon{
   
    font-size: 50px;
    height: fit-content;
    width: fit-content;
}
h4{
    color: white;
    font-weight: 900;
}
h3{
  
}
.yellow{
    background-color: rgb(203, 203, 11);
    
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}