<div class="">
    <div class="profile">
        <img  src="https://media.istockphoto.com/id/497250444/vector/office-job-stress-work-vector-illustration.jpg?s=612x612&w=0&k=20&c=Fv4bVP2yNESr7Sobjq0uhWU1beQR68zaNkQYhx5Xu0w=" alt="adminImage" >
        <h3>Admin</h3>
        <h5>admin@luminar.com</h5>
    </div>
    <mat-divider></mat-divider>
    <h2>Pages</h2>
    <div class="pages">
        <a routerLink="">Dashboard</a>
        <a routerLink="employee">Employees</a>
        <a routerLink="gallery">Gallery</a>
    </div>
    <h2>Tools</h2>
    <div class="tools">
        <a routerLink="contacts"><mat-icon>contact_phone</mat-icon>Contacts</a>
        <a routerLink="leads"><mat-icon>leaderboard</mat-icon>Leads</a>
    </div>
</div>