<!-- card -->
<div class="cards">

    <!-- card1 -->
    <mat-card >
        <app-card 
        bg="yellow"
        icon="person"
        desc="Students"
        count="2500"
        ></app-card>
    </mat-card>

      <!-- card 2 -->
    <mat-card>
        <app-card
        bg="blue"
        icon="groups"
        desc="Trainers"
        count="30"
        ></app-card>
    </mat-card>

      <!-- card 3-->
    <mat-card>
        <app-card
        bg="red"
        icon="home"
        desc="Branches"
        count="3"
        ></app-card>
    </mat-card>

      <!-- card 4 -->
    <mat-card>
        <app-card
        bg="green"
        icon="dashboard"
        desc="Placements"
        count="1500"
    ></app-card>
    </mat-card>
    
</div >

<!-- Area-Chart -->

<div class="areaChart">
    <app-area-chart></app-area-chart>
</div>

<!-- chart and table  -->
<div class="chartTable">
    <!-- Table -->
    <div>
        <app-table></app-table>
    </div>
    
    <!-- Pie Chart -->
    <div>
        <app-pie-chart></app-pie-chart>
    </div>
</div>